<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		
		{{#each posts}}
			<div class="post-preview">
				<a href="post.html">
					<h2 class="post-title">
						{{post-name}}
					</h2>
					<h3 class="post-subtitle">
						{{excerpt post-content}}
					</h3>
				</a>
				<p class="post-meta">Posted by <a href="#">{{../config.author}}</a> on {{date}}</p>
			</div>
			<hr>
		{{/each}}
		
		<!-- Pager -->
		<ul class="pager">
			<li class="next">
				<a href="#">Older Posts &rarr;</a>
			</li>
		</ul>
	</div>
</div>